<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>167523988861-qj8nc91ar0q5p6d8v5grtcj1dhcs49qf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167523988861-qj8nc91ar0q5p6d8v5grtcj1dhcs49qf</string>
	<key>API_KEY</key>
	<string>AIzaSyB6sMM5PRrNtt0WdogYMVmfsHsGfFNXVWs</string>
	<key>GCM_SENDER_ID</key>
	<string>167523988861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.psolution.D2Brain</string>
	<key>PROJECT_ID</key>
	<string>d2brain-87137</string>
	<key>STORAGE_BUCKET</key>
	<string>d2brain-87137.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:167523988861:ios:f0b0b6f64b4576d0</string>
	<key>DATABASE_URL</key>
	<string>https://d2brain-87137.firebaseio.com</string>
</dict>
</plist>